@model MarketingNotifications.Web.ViewModels.NotificationViewModel
<h1>Greenband SMS Marketing Form</h1>
<p>Use this form to send MMS notifications to any subscribers.</p>
<p>You may send to Boat & RV, but other lists must be sent individually.</p>
@using (Html.BeginForm("Create", "Notifications"))
{
    <div class="form-group">
        @Html.CheckBoxFor(m => m.TestGroup)
        @Html.LabelFor(m => m.TestGroup)
        <br />
        @Html.CheckBoxFor(m => m.Rv)
        @Html.LabelFor(m => m.Rv)
        <br />
        @Html.CheckBoxFor(m => m.Boat)
        @Html.LabelFor(m => m.Boat)
        <br />
        @Html.CheckBoxFor(m => m.Bridal)
        @Html.LabelFor(m => m.Bridal)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextBoxFor(m => m.Message, new { @class = "form-control", placeholder = "New things are happening!", maxlength = 150})
        @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control", placeholder = "http://fake.twilio.com/some_image.png" })
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
}

